*.o
*.db
bpt_cli
bpt_unit_test
bpt_vec_unit_test
zbpt_unit_test
bench_unit_test
benchmark_test
bpt_dump_numbers
bpt_unit_test/*
bpt_unit_test.dSYM
.vscode/*
data/
data_process
benchmark_test.dSYM/
bpt_vec_unit_test.dSYM/Contents/Info.plist
